https://kiranaclub.notion.site/Kirana-Club-ML-DS-Internship-Assignment-f2ae881f1e8c45b4b3e5a0f136e9e379

<h1>Section 1:</h1> <p>I have considered the data for Year 2009-10 which is the first sheet in excel file. The same analysis can be done for other years as well. Otherwise to consider analysis for all years, combime all the sheets data and perform the alalysis, given below.</p><br>

<p style="color:red">Note: I am not considering the 'Country' column as in the task, it was given the data is for a single store. Also no store id column is given, so it doesn't make sense to have a country column.</p><br>

<h4>1. Customer categories-</h4>
a. High value customer- We will see which customer has the highest value of purchase. We will see the total purchase of each customer and then we will see the top 10 customers who have the highest purchase value.<br>
b. Repeat customer- Customers who have purchased often over the year. Can also be termed as <b>loyal customers</b>.<br>
c. New customer- Customers who have purchased for the first time (low number of times) in the year.<br>

In [22]:
import pandas as pd
import numpy as np
df=pd.read_csv('RetailPulseAssignmentData.csv')
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,12/9/2010 20:01,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,12/9/2010 20:01,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,12/9/2010 20:01,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,12/9/2010 20:01,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,12/9/2010 20:01,1.95,17530.0,United Kingdom

In [23]:
df = df.drop(labels="Country", axis=1)
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0
...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,12/9/2010 20:01,2.95,17530.0
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,12/9/2010 20:01,3.75,17530.0
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,12/9/2010 20:01,3.75,17530.0
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,12/9/2010 20:01,3.75,17530.0
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,12/9/2010 20:01,1.95,17530.0

<h5>High value customer</h5>

In [24]:
df1=df
df1['sales'] = df1['Price'] * df1['Quantity']
df1

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,sales
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,12/1/2009 7:45,6.95,13085.0,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,12/1/2009 7:45,6.75,13085.0,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,12/1/2009 7:45,2.10,13085.0,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,12/1/2009 7:45,1.25,13085.0,30.00
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,12/9/2010 20:01,2.95,17530.0,5.90
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,12/9/2010 20:01,3.75,17530.0,3.75
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,12/9/2010 20:01,3.75,17530.0,3.75
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,12/9/2010 20:01,3.75,17530.0,7.50
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,12/9/2010 20:01,1.95,17530.0,3.90

In [29]:
df1=df1.dropna()
df1.sort_values(by='StockCode')
#df1.groupby("CustomerID").count()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,sales
111348,500073,21662,VINTAGE GLASS COFFEE CADDY,1,3/4/2010 11:44,0.00,13047.0,0.00
296375,518231,22472,TV DINNER TRAY DOLLY GIRL,9,8/5/2010 15:28,0.00,12471.0,0.00
57619,494607,21533,RETRO SPOT LARGE MILK JUG,12,1/15/2010 12:43,0.00,16858.0,0.00
400047,527696,22121,NOEL WOODEN BLOCK LETTERS,1,10/18/2010 15:13,0.00,13554.0,0.00
248583,513416,22423,REGENCY CAKESTAND 3 TIER,5,6/24/2010 12:34,0.00,13089.0,0.00
...,...,...,...,...,...,...,...,...
358639,524159,M,Manual,1,9/27/2010 16:12,10468.80,14063.0,10468.80
135014,C502264,M,Manual,-1,3/23/2010 15:24,10953.50,12918.0,-10953.50
135013,502263,M,Manual,1,3/23/2010 15:22,10953.50,12918.0,10953.50
135012,C502262,M,Manual,-1,3/23/2010 15:20,10953.50,12918.0,-10953.50
241824,C512770,M,Manual,-1,6/17/2010 16:52,25111.09,17399.0,-25111.09